$font-light: "aktiv-grotesk-corp-light", sans-serif;
$font-regular: "aktiv-grotesk-corp-regular", sans-serif;
$font-medium: "aktiv-grotesk-corp-medium", sans-serif;
$font-bold: "aktiv-grotesk-corp-bold", sans-serif;

$f-default: "roboto-light", sans-serif;
$f-thin: "roboto-thin", sans-serif;